<svg
  attr.width="{{ width() }}"
  attr.height="{{ height() }}"
  viewBox="0 0 180 180"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <line
    id="svg_1"
    attr.stroke="{{ secondaryColor() }}"
    x1="40"
    x2="90"
    y1="70"
    y2="40"
  />
  <line
    id="svg_2"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="40"
    x2="140"
    y1="70"
    y2="70"
  />
  <line
    id="svg_3"
    attr.stroke="{{ secondaryColor() }}"
    x1="40"
    x2="130"
    y1="70"
    y2="120"
  />
  <line
    id="svg_4"
    attr.stroke="{{ primaryColor() }}"
    x1="40"
    x2="90"
    y1="70"
    y2="150"
  />
  <line
    id="svg_5"
    attr.stroke="{{ secondaryColor() }}"
    x1="40"
    x2="50"
    y1="70"
    y2="130"
  />
  <line
    id="svg_6"
    attr.stroke="{{ primaryColor() }}"
    x1="40"
    x2="70"
    y1="70"
    y2="100"
  />
  <line
    id="svg_7"
    attr.stroke="{{ primaryColor() }}"
    x1="90"
    x2="140"
    y1="40"
    y2="70"
  />
  <line
    id="svg_8"
    attr.stroke="{{ secondaryColor() }}"
    x1="90"
    x2="130"
    y1="40"
    y2="120"
  />
  <line
    id="svg_9"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="90"
    x2="90"
    y1="40"
    y2="150"
  />
  <line
    id="svg_10"
    attr.stroke="{{ secondaryColor() }}"
    x1="90"
    x2="50"
    y1="40"
    y2="130"
  />
  <line
    id="svg_11"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="90"
    x2="70"
    y1="40"
    y2="100"
  />
  <line
    id="svg_12"
    attr.stroke="{{ secondaryColor() }}"
    x1="140"
    x2="130"
    y1="70"
    y2="120"
  />
  <line
    id="svg_13"
    attr.stroke="{{ primaryColor() }}"
    x1="140"
    x2="90"
    y1="70"
    y2="150"
  />
  <line
    id="svg_14"
    attr.stroke="{{ secondaryColor() }}"
    x1="140"
    x2="50"
    y1="70"
    y2="130"
  />
  <line
    id="svg_15"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="140"
    x2="70"
    y1="70"
    y2="100"
  />
  <line
    id="svg_16"
    attr.stroke="{{ primaryColor() }}"
    x1="130"
    x2="90"
    y1="120"
    y2="150"
  />
  <line
    id="svg_17"
    attr.stroke="{{ secondaryColor() }}"
    x1="130"
    x2="50"
    y1="120"
    y2="130"
  />
  <line
    id="svg_18"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="130"
    x2="70"
    y1="120"
    y2="100"
  />
  <line
    id="svg_19"
    attr.stroke="{{ secondaryColor() }}"
    x1="90"
    x2="50"
    y1="150"
    y2="130"
  />
  <line
    id="svg_20"
    attr.stroke="{{ primaryColor() }}"
    transform="matrix(1 0 0 1 0 0)"
    x1="90"
    x2="70"
    y1="150"
    y2="100"
  />
  <line
    id="svg_21"
    attr.stroke="{{ secondaryColor() }}"
    x1="50"
    x2="70"
    y1="130"
    y2="100"
  />
  <circle
    cx="40"
    cy="70"
    attr.fill="{{ primaryColor() }}"
    id="svg_22"
    r="7"
    transform="matrix(1 0 0 1 0 0)"
  />
  <circle
    cx="90"
    cy="40"
    attr.fill="{{ secondaryColor() }}"
    id="svg_23"
    r="6"
    transform="matrix(1 0 0 1 0 0)"
  />
  <circle
    cx="140"
    cy="70"
    attr.fill="{{ primaryColor() }}"
    id="svg_24"
    r="7"
    transform="matrix(1 0 0 1 0 0)"
  />
  <circle
    cx="130"
    cy="120"
    attr.fill="{{ secondaryColor() }}"
    id="svg_25"
    r="5"
  />
  <circle cx="90" cy="150" attr.fill="{{ primaryColor() }}" id="svg_26" r="6" />
  <circle
    cx="50"
    cy="130"
    attr.fill="{{ secondaryColor() }}"
    id="svg_27"
    r="7"
  />
  <circle
    cx="70"
    cy="100"
    attr.fill="{{ primaryColor() }}"
    id="svg_28"
    r="6"
    transform="matrix(1 0 0 1 0 0)"
  />
</svg>
